.App {
  background-color: #212121;
}

.bg-myRed {
  background-color: #181818;
}

.content {
  margin-top: 60px;
  padding: 12px;
  color: #eee;
}

.section {
  min-height: 90vh;
}

.navbar-collapse {
  text-align: center;
}
